<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Registro</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<h1>- Equipo 15 -</h1>
<h2>Introduce un nuevo registro</h2>
<form th:action="@{/registro}" th:object="${persona}" method="post">
    <div>
        <label for="nombre">Nombre: </label>
        <input id="nombre" type="text" th:field="*{nombre}">
        <div th:if="${#fields.hasErrors('nombre')}" th:errorclass="error" th:errors="*{nombre}"></div>
    </div>
    <div>
        <label for="edad">Edad: </label>
        <input id="edad" type="text" th:field="*{edad}">
        <div th:if="${#fields.hasErrors('edad')}" th:errorclass="error" th:errors="*{edad}"></div>
    </div>
    <div>
        <label for="numTelefono">Telefono: </label>
        <input id="numTelefono" type="text" th:field="*{numTelefono}">
        <div th:if="${#fields.hasErrors('numTelefono')}" th:errorclass="error" th:errors="*{numTelefono}"></div>
    </div>
    <input type="submit" th:value="Guardar"/>
</form>

<h3>Agenda: </h3>

<ul>
    <li th:each="registro : ${listaPersonas}" th:text="${ registro.getNombre() + ' ' + registro.getEdad() + ' ' + registro.getNumTelefono()}"  ></li>
</ul>
</body>
</html>